@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div>
    <ul>
    <li>1. Given the choice of anyone in the world, whom would you want as a dinner guest?</li>

    <li>2. Would you like to be famous? In what way?</li>
        Not really. Hope to be famous in a limited group of people.
        Maybe being rich? Lol
    <li>3. Before making a phone call, do you ever rehearse what you're going to say? Why?</li>
        Not often. Depending on whom i am calling to. If it is an important person, maybe.
    <li>4. What would constitute a perfect day for you?</li>
        Everything is perfect. I can buy whatever i want without worrying about money.
    <li>5. When did you last sing to yourself? To someone else?</li>
        one month ago? Can not really remember. 
    <li>6. If you were able to live to the age of 90 and retain either the mind or body of a 30-year old for the last 60 years of your life, which would you choose?</li>
        Body
    <li>7. Do you have a secret hunch about how you will die?</li>

    <li>8. Name three things you and your partner appear to have in common.</li>
        Both like movie and travelling. 
    9. For what in your life do you feel most grateful?

    10. If you could change anything about the way you were raised, what would it be?

   </ul>

</div>
