@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kuangyi Xing<br />
    210 Northbourne Ave, Braddon, ACT, 2612<br />
    <abbr title="Phone">P:</abbr>
    0449050196
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kuangyi.xing@xero.com">kuangyi.xing@xero.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kuangyi.xing@xero.com">kuangyi.xing@xero.com</a>
</address>