@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kuangyi Xing</h1>
    <p class="lead">Welcome to Kuangyi's blog. Hope you will love it :3 </p>
    <p><a href="https://www.kuangyixing.xyz" class="btn btn-primary btn-lg">My personal website &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-8">
        <h2>36 questions about me</h2>
        <div class="col-md-3">
            <p>
                A list of questions you may want to know about me.
                <q>
                    <a href="http://www.stafforini.com/txt/Aron%20et%20al%20-%20The%20experimental%20generation%20of%20interpersonal%20closeness.pdf">36 questions to kick-start relationship &raquo;</a>
                </q>
            </p>
        </div>
        <div class="col-md-5">
            <p><a class="btn btn-lg btn-primary" href="home/about">Begin the questions &raquo;</a></p>
        </div>

    </div>
    <div class="col-md-4">
        <h2>My favorites</h2>
        <p>All my favorites about music, art, sport etc. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>