Snake/.vs/*
Snake/Snake/obj/*
Snake/Snake/bin/*
Snake/BusinessLayer/obj/*
Snake/BusinessLayer/bin/Debug/*
Snake/DatabaseLayer/bin/*
Snake/DatabaseLayer/obj/*
Snake/SnakeTest/bin/*
Snake/SnakeTest/obj/*
Snake/TestResults/*
*.user
*.cache
*.txt
Snake/Packages
*.config