CREATE DATABASE [SnakeHighScores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnakeHighScores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SnakeHighScores.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SnakeHighScores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SnakeHighScores_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [SnakeHighScores]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SnakeHighScores] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
